:root {
    --blanco: #ffffff;
    --piso-1: #F2CA7E;
    --piso-2: #D9AB82;
    --piso-3: #BF8654;
    --linea-1: #F21905;
    --linea-2: #BF1304;
    --linea-3: #8a0e02;
    --oscuro-1: #302727;
    --oscuro-2: #1d1919;
    --fila:  

  }

  .grid {
    display: grid;
    grid-template-columns: var(--col);
    grid-template-rows: var(--row);
  }
  

  .container {
    --fontsize: 14px;
  }
  
  /* Styles */ 
  body {
    background-color: var(--blanco);
  }
  
  h2 {
    border-bottom: 2px solid var(--linea-3);
  }
  
  .container {
    color: var(--linea-2);
    background-color: var(--piso-1);
    padding: 15px;
    font-size: var(--fontsize);
  }
  
  @media screen and (min-width: 450px) {
    .container {
      --fontsize: 28px;
    }
  }