h1 {

    font-size: 2em;
}

.cincuenta {
    padding: 10%;
    width: 50%;
}

.section {
        background-image: url("/img/ppal.jpg");
        background-size: cover;
        background-repeat:;
    }


p {
    font-size: 1em;
    color: rgb(43, 38, 38);
    text-align: justify;
}

thead {
    color: aliceblue;
    background-color: rgb(90, 80, 82);
}

header {
    background-color: #1c340c;
    margin: 0%;
    padding: 1em;
    font-size: .8em;
}

table {
    width: 80%;
    border: .2em;
    border-style: solid;
    border-color: black;
    font-size: 1em;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.micolor {
    color: rgb(36, 36, 36);
    background-color: rgb(241, 241, 241);            
}
.micolor2 {
    color: rgb(36, 36, 36);
    background-color: rgb(224, 224, 224);            
}
a:link {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.blanco {
    color: white;
}

.imggnd {
    width: 55%;
    
}
form {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 30%;
    text-align: right;

}